<a href="https://colab.research.google.com/github/Mainabryan/Data-Science-Project/blob/main/manipulating_data_structures_and_implementing_fundamental_algorithms_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1  :

Write a Python program that multiplies all the items in a list.

Sample list= [2, 3, 6]

Result = 36

Question 2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use the sort function.

Question 3

Write a Python program that combines two dictionaries by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

Question 4

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included). Then the program should print the dictionary. Suppose the following input is supplied to the program: 8. Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question 5

Write a program to sort a tuple by its float element.

For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Question 6

Write a Python program to create a set.

Examples : {0, 1, 2, 3, 4}

Write a Python program to iteration over sets.

Write a Python program to add members in a set and to remove items from a given set.

In [1]:
#QUESTION 1
# Write a Python program that multiplies all the items in a list.

# Sample list= [2, 3, 6]

# Result = 36

numbers = [2, 3, 6]
total = 1
for x in numbers:
    total *= x
print(total)

36

In [3]:
#QUESTION 2
# Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

# Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Hint: You can use the sort function.
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(sample_list, key=lambda x: x[1])
print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [7]:
#understanding def and lambda
def square(x):
  return x*x

square(4)

#understanding lambda
square_lambda = lambda x: x*x
square_lambda(4)

16

In [10]:
# Question 3


# Write a Python program that combines two dictionaries by adding values for common keys.

# d1 = {'a': 100, 'b': 200, 'c':300}

# d2 = {'a': 300, 'b': 200, 'd':400}

# Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
result ={}
all_keys =set(list(d1.keys()) + list(d2.keys()))
for key  in all_keys:
    result[key] = d1.get(key,0) +d2.get(key,0)
print(result)

{'d': 400, 'a': 400, 'b': 400, 'c': 300}

In [16]:
# question 4
n = 8
square_dict = {}

for i in range(1, n + 1):
    square_dict[i] = i * i

print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [17]:
# Question 5


# Write a program to sort a tuple by its float element.

# For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

# Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]
data = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

# Sort by float value of second element in descending order
sorted_data = sorted(data, key=lambda x: float(x[1]), reverse=True)

print(sorted_data)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [18]:
# Question 6

# Write a Python program to create a set.

# Examples : {0, 1, 2, 3, 4}

# Write a Python program to iteration over sets.

# Write a Python program to add members in a set and to remove items from a given set.


# Task 1: Create a set
my_set = {0, 1, 2, 3, 4}
print("Original Set:", my_set)

# Task 2: Iterate through the set
print("Items in the set:")
for item in my_set:
    print(item)

# Task 3: Add and remove items
my_set.add(5)     # Adding item
my_set.remove(2)  # Removing item

print("Updated Set:", my_set)

Original Set: {0, 1, 2, 3, 4}
Items in the set:
0
1
2
3
4
Updated Set: {0, 1, 3, 4, 5}