<a href="https://colab.research.google.com/github/Mainabryan/Data-Science-Project/blob/main/Practising_iloc_and_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use iloc to select the first 4 rows.

Use iloc to get the Score and Grade for the last 3 students.

Use iloc to select all columns of the students from index 2 to 5.

Use iloc to get the Student names and whether they Passed for the first 3 rows.

In [ ]:
import pandas as pd

data = {
    'Student': ['Alice', 'Brian', 'Clara', 'David', 'Ella', 'Frank'],
    'Subject': ['Math', 'Science', 'Math', 'History', 'Science', 'History'],
    'Score': [88, 92, 75, 85, 90, 78],
    'Grade': ['B+', 'A', 'C', 'B', 'A-', 'B-'],
    'Passed': [True, True, False, True, True, True]
}

students_df = pd.DataFrame(data)
print(students_df)

  Student  Subject  Score Grade  Passed
0   Alice     Math     88    B+    True
1   Brian  Science     92     A    True
2   Clara     Math     75     C   False
3   David  History     85     B    True
4    Ella  Science     90    A-    True
5   Frank  History     78    B-    True

USE ILOCTO SELECT the first 4 rows

In [ ]:
first_4_rows = students_df.iloc[:4]
print(first_4_rows)

  Student  Subject  Score Grade  Passed
0   Alice     Math     88    B+    True
1   Brian  Science     92     A    True
2   Clara     Math     75     C   False
3   David  History     85     B    True

Use iloc to get the Score and Grade for the last 3 students.

In [ ]:
last_3_students = students_df.iloc[-3:,[2,3]]
print(last_3_students)

   Score Grade
3     85     B
4     90    A-
5     78    B-

Use iloc to select all columns of the students from index 2 to 5.

In [ ]:
columns_from__indexed_2_to_3 = students_df.iloc[2:3]
print(columns_from__indexed_2_to_3)

  Student Subject  Score Grade  Passed
2   Clara    Math     75     C   False