<a href="https://colab.research.google.com/github/Mainabryan/Data-Science-Project/blob/main/Untitled44.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
raw_scores = np.array([
    78, 65, 89, 55, 91,   # Student 1
    82, 70, 95, 60, 87,   # Student 2
    67, 72, 88, 58, 90,   # Student 3
    90, 85, 92, 75, 95,   # Student 4
    59, 60, 65, 50, 62,   # Student 5
    73, 68, 80, 62, 78    # Student 6
])

In [3]:
scores = raw_scores.reshape(6, 5)
print("Student Scores Matrix:\n", scores)

Student Scores Matrix:
 [[78 65 89 55 91]
 [82 70 95 60 87]
 [67 72 88 58 90]
 [90 85 92 75 95]
 [59 60 65 50 62]
 [73 68 80 62 78]]

In [4]:
students = np.array(["Alice","Bryan","Maxwell","Maggie","Tracy","Cynthia"])
Subjects = np.array (["Mathematics","History","Geography","Chemistry","Physics"])

In [7]:
curved_scores = scores + 5
print(curved_scores)

[[ 83  70  94  60  96]
 [ 87  75 100  65  92]
 [ 72  77  93  63  95]
 [ 95  90  97  80 100]
 [ 64  65  70  55  67]
 [ 78  73  85  67  83]]

In [10]:
total_marks = curved_scores.sum(axis=0)

In [14]:
final_scores = curved_scores ,0,100

In [16]:
final_scores = curved_scores ,0,100

In [33]:
for i in range(len(Subjects)):  # Changed to iterate using length of Subjects instead of students.
    print(f"{students[i]}: {Ultimate_results[i]}") # This matches the number of elements in Ultimate_results

Alice: 479
Bryan: 450
Maxwell: 539
Maggie: 390
Tracy: 533

In [38]:
average = final_scores[i].mean()
print(average)

64.2

In [37]:
if average >=90:
  grade = "A"
elif average >=80:
  grade = "B"
elif average >=70:
  grade = "C"
elif average >=60:
  grade = "D"
else:
  grade = "F"
  print(grade)

In [39]:
averages = final_scores.mean(axis=1)
print(averages)

[80.6 83.8 80.  92.4 64.2 77.2]

In [45]:
averages = final_scores.mean(axis=1)
grades = []

for avg in averages:
    if avg >= 90:
        grade = "A"
    elif avg >= 80:
        grade = "B"
    elif avg >= 70:
        grade = "C"
    elif avg >= 60:
        grade = "D"
    else:
        grade = "F"
    grades.append(grade)

print(grades)

['B', 'B', 'B', 'A', 'D', 'C']

In [49]:
for i in range(len(students)):
    print(f"{students[i]}: {grades[i]} : {averages[i]:.2f}")

Alice: B : 80.60
Bryan: B : 83.80
Maxwell: B : 80.00
Maggie: A : 92.40
Tracy: D : 64.20
Cynthia: C : 77.20

In [51]:
print("\nüèÖ Students Who Got A:")
for i in range(len(grades)):
    if grades[i] == "A":
        print(f"{students[i]} ‚Üí Average: {averages[i]:.2f}, Grade: {grades[i]}")

üèÖ Students Who Got A:
Maggie ‚Üí Average: 92.40, Grade: A

In [54]:
print("n students who got a B:")
for i in range(len(grades)):
    if grades[i] == "B":
        print(f"{students[i]} ‚Üí Average: {averages[i]:.2f}, Grade: {grades[i]}")

n students who got a B:
Alice ‚Üí Average: 80.60, Grade: B
Bryan ‚Üí Average: 83.80, Grade: B
Maxwell ‚Üí Average: 80.00, Grade: B

*italicized text*

In [55]:
print("n students who got a C:")
for i in range(len(grades)):
    if grades[i] == "C":
        print(f"{students[i]} ‚Üí Average: {averages[i]:.2f}, Grade: {grades[i]}")

n students who got a C:
Cynthia ‚Üí Average: 77.20, Grade: C

In [56]:
print("\nüì¢ Students Who Need Help (D & F):")
for i in range(len(grades)):
    if grades[i] in ["D", "F"]:
        print(f"{students[i]} ‚Üí Average: {averages[i]:.2f}, Grade: {grades[i]}")

üì¢ Students Who Need Help (D & F):
Tracy ‚Üí Average: 64.20, Grade: D